@tailwind base;
@tailwind components;
@tailwind utilities;


@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Roboto', sans-serif;
}

.container-custom {
    max-width: 1440px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
a,
p {
    color: #363535;
}

.swiper-pagination-bullet {
    width: 20px !important;
    height: 20px !important;
    border: 2px solid #00C9C9 !important;
    background-color: #00C9C9 !important;

}